<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../shared-styles.html">

<template>
    <style include="shared-styles">
      :host {
            font-size: var(--font-xl);
            box-sizing: border-box;
            width: 100%;
            display: block;
            color: var(--color-primary);
            border-bottom: 3px solid var(--k_color-5);
            margin-bottom: 15px;
            padding-bottom: 5px;
            font-weight: bold;
            line-height: 1.1;
            padding: 0;
            text-transform: capitalize;
      }
      
    </style>

    <content></content>

  </template>

  <script>
    class MusicSectitle extends Polymer.Element {
      static get is() { return 'music-sectitle'; }
    }

    window.customElements.define(MusicSectitle.is, MusicSectitle);
  </script>
</dom-module>
